<div class="custom-profile">
  <p>
    We are a pedestrian direct action group based in Taipei. Our goal is to make Taipei a safe and convenient city for pedestrians.
  </p>
  <p>
    Our strategy involves three methods:
  </p>
  <ol>
    <li>
      Data collection, organization, and presentation
    </li>
    <li>
      Political engagement
    </li>
    <li>
      Direct action
    </li>
  </ol>
  <p>
    You can read <a href="https://hackmd.io/7K4kLkseTYCPI7DWoNv5mA?view">our project kick-off pitch</a> we delivered at the <a href="https://g0v-jothon.kktix.cc/events/g0v-hackath63n">63rd g0v hackathon.</a>
  </p>
</div>
